/* 
    Document   : safehouse
    Created on : Mar 5, 2012, 12:56:56 AM
    Author     : Purinda Gunasekara
    Description:
        Purpose of the stylesheet follows.
*/

.width-10p{ width: 10% !important; }
.width-20p{ width: 20% !important; }
.width-30p{ width: 30% !important; }
.width-40p{ width: 40% !important; }
.width-50p{ width: 50% !important; }
.width-60p{ width: 60% !important; }
.width-70p{ width: 70% !important; }
.width-80p{ width: 80% !important; }
.width-90p{ width: 90% !important; }
.width-100p{ width: 100% !important; }

.width-25p{ width: 25% !important; }
.width-75p{ width: 75% !important; }

.float-left{float:left !important;}
.float-right{float:right !important;}

.padding-left-10{
	padding-left: 10px !important;
}

.padding-right-10{
	padding-right: 10px !important;
}

.padding-top-10{
	padding-top: 10px !important;
}

.padding-bottom-10{
	padding-bottom: 10px !important;
}


@media all and (min-width: 320px){
	.width-component{
		width: 25% !important;
	}
	.width-label{
		width: 75% !important;
	}
}

@media all and (min-width: 650px){
	.width-component{
		width: 20% !important;
	}
	.width-label{
		width: 80% !important;
	}
}

@media all and (min-width: 1200px){
	.width-component{
		width: 15% !important;
	}
	.width-label{
		width: 85% !important;
	}
}