/* 
    Document   : safehouse
    Created on : Mar 5, 2012, 12:56:56 AM
    Author     : Purinda Gunasekara
    Description:
        Purpose of the stylesheet follows.
*/

.width-10p{ width: 10% !important; }
.width-20p{ width: 20% !important; }
.width-30p{ width: 30% !important; }
.width-40p{ width: 40% !important; }
.width-50p{ width: 50% !important; }
.width-60p{ width: 60% !important; }
.width-70p{ width: 70% !important; }
.width-80p{ width: 80% !important; }
.width-90p{ width: 90% !important; }


