<!DOCTYPE html> 
<html> 
	<head> 
	<title>{{PAGE_TITLE}}</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	
	<link rel="stylesheet" href="js/jquery.mobile-1.2.0/jquery.mobile-1.2.0.min.css" />
	<link rel="stylesheet" type="text/css" href="js/jquery.mobile-1.2.0/_assets/css/jqm-docs.css"/>	
	<link rel="stylesheet" type="text/css" href="css/safehouse.css" media="all"/>	

	<script src="js/jquery-1.8.2.min.js"></script>
	<script src="js/jquery.mobile-1.2.0/jquery.mobile-1.2.0.min.js"></script>
	<script type="text/javascript" src="js/jquery.mobile-1.2.0/_assets/js/jqm-docs.js"></script>	
</head> 

<body> 

	<div data-role="page" class="type-home">
		
		<div data-role="header">
			<h1>{{PAGE_TITLE}}</h1>		
		</div><!-- /header -->
		
		<div data-role="content">

			<div name="pageHome" class="content-primary">
				<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="f">
				{{#MODULES}}<li data-theme="b"><a href="viewModule?id={{ID}}" target="_top" data-rel="page" data-transition="none">{{NAME}}</a></li>{{/MODULES}}
				</ul>
			</div>

			<div name="pageHome" class="content-secondary">
				<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="f">
					<li data-theme="a"><a href="tasks" target="_top" data-rel="page" data-transition="none">Tasks</a></li>
					<li data-theme="a"><a href="settings" target="_top" data-rel="page" data-transition="none">Settings</a></li>
				</ul>
			</div>
			
						
		</div>
		

		<div data-role="footer">
			<h4> (C) 2012 Safehouse Project</h4>
		</div><!-- /footer -->		
		
	</div>	<!-- /page -->
	
	<!-- /page specific script -->	
	<script type="text/javascript">
		// Following applies only to the ViewModule dialog where all the
		// controlls are displayed.
		$( '#viewModule' ).live( 'pageinit',function(event){

		});
	</script>		
	
</body>
</html>

