<!DOCTYPE html> 
<html> 
<head> 
	<title>Tasks</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<link rel="stylesheet" href="js/jquery.mobile-1.2.0/jquery.mobile-1.2.0.min.css" />
	<link rel="stylesheet" type="text/css" href="js/jquery.mobile-1.2.0/_assets/css/jqm-docs.css"/>	
	<link rel="stylesheet" type="text/css" href="css/safehouse.css" media="all"/>	
	<link rel="stylesheet" type="text/css" href="js/jqplot/jquery.jqplot.min.css" />	
	
	<script src="js/jquery-1.8.2.min.js"></script>
	<script src="js/jquery.mobile-1.2.0/jquery.mobile-1.2.0.min.js"></script>
	<script type="text/javascript" src="js/jquery.mobile-1.2.0/_assets/js/jqm-docs.js"></script>	
	
    <!--Includes for mobiscroll -->
	<link href="js/mobiscroll-2.0.2/mobiscroll-2.0.2.custom.min.css" rel="stylesheet" type="text/css" />
	<script src="js/mobiscroll-2.0.2//mobiscroll-2.0.2.custom.min.js" type="text/javascript"></script>	
</head> 

<body> 

	<div data-role="page" class="type-home">
		
		<div data-role="header">
			<a href="/" data-transition="none" data-icon="arrow-l">Back</a>			
			<h1>Tasks</h1>
		</div><!-- /header -->
		
		<div data-role="content">

			<div name="pageHome" class="content-primary">
				<h2>Step 1: When</h2>
				<div id="container-rule">
					<!-- container-rule -->			
				</div>
				
				<h2>Step 2: Then</h2>
				<div id="container-action">
					<!-- container-action -->				
				</div>
				
				<h2>Step 3: That's it</h2>
				<div id="container-final">
					<div data-role="popup" id="saveTaskDialog" data-overlay-theme="a"  data-theme="c" data-position-to="window" class="ui-corner-all">
						<div data-role="header" data-theme="a" class="ui-corner-top">
							<h1>Save task</h1>
						</div>						
						
						<div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
							<h3>Do you wanna give this task a name?</h3>
							<input type="text" name="task-name" value="" data-mini="true" />							
							
							<a name="button-save-task" href="#" data-corners="true" data-role="button" data-icon="check" data-theme="b" data-inline="true" data-wrapperels="span">Save</a>
							<a name="button-save-dialog-close" href="#" data-corners="true" data-role="button" data-rel="back" data-icon="refresh" data-theme="a" data-inline="true" data-wrapperels="span">Cancel</a>							
						</div>						
					</div>
					
					<fieldset data-role="controlgroup" data-type="horizontal">
						<a name="button-save-task-pre" href="#saveTaskDialog" data-rel="popup" data-corners="true" data-role="button" data-icon="check" data-theme="b" data-inline="true" data-wrapperels="span">Save Task</a>
						<a name="button-cancel-task" href="#" data-corners="true" data-role="button" data-icon="refresh" data-theme="a" data-inline="true" data-wrapperels="span">Cancel</a>
					</fieldset>
					<!-- container-action -->				
				</div>
			</div>

			<div name="pageHome" class="content-secondary">
				<h3>Tasks</h3>
				{{#TASK}}
				<div data-role="collapsible" data-content-theme="c">
					<h3>{{NAME}}</h3>
					<div>
						<p>{{DESCRIPTION}}</p>
						<strong>When</strong>
						<p>{{WHEN}}</p>
						<strong>Then</strong>
						<p>{{THEN}}</p>			
						<br />
						
						<a name="button-task-edit" task_id="{{TSK_ID}}" href="#" data-corners="true" data-role="button" data-icon="grid" data-mini="true" data-theme="b" data-inline="true" data-wrapperels="span">Edit</a>						
						<a name="button-task-disable" task_id="{{TSK_ID}}" href="#" data-corners="true" data-role="button" data-icon="gear" data-mini="true" data-theme="e" data-inline="true" data-wrapperels="span">Disable</a>												
						<a name="button-task-delete" task_id="{{TSK_ID}}" href="#" data-corners="true" data-role="button" data-icon="delete" data-mini="true" data-theme="a" data-inline="true" data-wrapperels="span">Delete</a>						
					</div>
				</div>
				{{/TASK}}
			</div>
			
						
		</div>
		

		<div data-role="footer">
			<h4> (C) 2012 Safehouse Project</h4>
		</div><!-- /footer -->		
		
	</div>	<!-- /page -->

<!-- data variable - rules -->
<script type="data" id="data-block-rule">
	
	<div name="block-rule" index="0">
		<ul data-role="listview" data-inset="true">

			<li data-role="fieldcontain">
				<fieldset data-role="controlgroup">
					<strong>Rule</strong>
				</fieldset>
			</li>					

			<li data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal">
					<legend>Rule</legend>
					<input radiotype="schedule" type="radio" name="radio-type-0" id="radio-type-21" value="choice-1"/>
					<label for="radio-type-21">Schedule</label>

					<input radiotype="ability" type="radio" name="radio-type-0" id="radio-type-22" value="choice-2"  />
					<label for="radio-type-22">Observe</label>

				</fieldset>
			</li>

			<li data-role="fieldcontain" name="group-schedule">
				<fieldset data-role="controlgroup" data-type="horizontal">
					<legend>Date and Time</legend>

					<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">

						<input radiooperator="=" type="radio" name="radio-operator-0" id="radio-mini-1" value="choice-1"/>
						<label for="radio-mini-1">at</label>

						<input radiooperator="<" type="radio" name="radio-operator-0" id="radio-mini-2" value="choice-2"  />
						<label for="radio-mini-2">before</label>

						<input radiooperator=">" type="radio" name="radio-operator-0" id="radio-mini-3" value="choice-3"  />
						<label for="radio-mini-3">after</label>

					</fieldset>						
					<input class="width-30p" name="timepicker"/>

				</fieldset>
			</li>		


			<li data-role="fieldcontain" name="group-observe">
				<fieldset data-role="controlgroup">
					<legend>Observe</legend>
					<select selecttype="module"  name="observe-module" id="select-choice-0" data-native-menu="false">
					{{#MODULE}}
						<option value="{{M_ID}}">{{M_NAME}}</option>
					{{/MODULE}}				
					</select>
					<select selecttype="ability"  name="observe-ability" id="select-choice-0" data-native-menu="false">
						<option value="ab1">Ability1</option>
					</select>					

				</fieldset>

				<br/>

				<fieldset data-role="controlgroup">
					<legend></legend>

					<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">

						<input radiooperator="=" type="radio" name="radio-operator-0" id="radio-mini-1" value="choice-1" checked="checked" />
						<label for="radio-mini-1">equals</label>

						<input radiooperator="<" type="radio" name="radio-operator-0" id="radio-mini-2" value="choice-2"  />
						<label for="radio-mini-2">less than</label>

						<input radiooperator=">" type="radio" name="radio-operator-0" id="radio-mini-3" value="choice-3"  />
						<label for="radio-mini-3">more than</label>

					</fieldset>

					<input valuetype="rule" class="width-30p"/>

				</fieldset>
			</li>		

			<li data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal">
					<a name="button-new-rule" href="#" data-corners="true" data-role="button" data-icon="plus" data-mini="true" data-theme="b" data-inline="true" data-wrapperels="span">Another Rule</a>
					<a name="button-del-rule" href="#" data-corners="true" data-role="button" data-icon="delete" data-mini="true" data-theme="a" data-inline="true" data-wrapperels="span">Remove</a>
				</fieldset>
			</li>

		</ul>

	</div><!-- block-rule -->
</script>

<!-- data variable - actions -->
<script type="data" id="data-block-action">

	<div name="block-action" index="0">
		<ul data-role="listview" data-inset="true">

			<li data-role="fieldcontain">
				<fieldset data-role="controlgroup">
					<strong>Action</strong>
				</fieldset>
			</li>	

			<li data-role="fieldcontain">								
				<fieldset data-role="controlgroup" data-type="horizontal">
					<legend>Action Type</legend>
					<input radiotype="tweet" type="radio" name="radio-type" id="radio-type-21" value="choice-1"/>
					<label for="radio-type-21">Tweet</label>

					<input radiotype="sms" type="radio" name="radio-type" id="radio-type-22" value="choice-2" />
					<label for="radio-type-22">SMS</label>

					<input radiotype="email" type="radio" name="radio-type" id="radio-type-23" value="choice-3"/>
					<label for="radio-type-23">E-Mail</label>

					<input radiotype="ability" type="radio" name="radio-type" id="radio-type-24" value="choice-4"/>
					<label for="radio-type-24">Device</label>
				</fieldset>
			</li>

			<li data-role="fieldcontain" name="group-tweet">
				<fieldset data-role="controlgroup">
					<legend>Tweet</legend>
					<textarea actionvalue="tweet" class="width-90p" name="textarea" id="textarea"></textarea>
				</fieldset>
			</li>		

			<li data-role="fieldcontain" name="group-sms">
				<fieldset data-role="controlgroup">
					<legend>Message</legend>
					<textarea actionvalue="sms" class="width-90p" name="textarea" id="textarea"></textarea>
				</fieldset>
			</li>		

			<li data-role="fieldcontain" name="group-email">
				<fieldset data-role="controlgroup">
					<legend>Body</legend>
					<textarea actionvalue="email" class="width-90p" name="textarea" id="textarea"></textarea>
				</fieldset>
			</li>		


			<li data-role="fieldcontain" name="group-ability">
				<fieldset data-role="controlgroup">
					<legend>Device</legend>
					<select selecttype="module" name="select-choice-0" id="select-choice-0" data-native-menu="false">
					{{#MODULE}}
						<option value="{{M_ID}}">{{M_NAME}}</option>
					{{/MODULE}}						
					</select>
					<select selecttype="ability" name="select-choice-0" id="select-choice-0" data-native-menu="false">
						<option value="standard">Ability1</option>
					</select>					
				</fieldset>

				<br/>

				<fieldset data-role="controlgroup">
					<legend>Value</legend>
					<input actionvalue="value" type="range" data-highlight="true" name="slider-1" id="slider-1" value="0" min="0" max="100" />
				</fieldset>
			</li>		


			<li data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal">
					<a name="button-new-action" href="#" data-corners="true" data-role="button" data-icon="plus" data-mini="true" data-theme="b" data-inline="true" data-wrapperels="span">Another Action</a>
					<a name="button-del-action" href="#" data-corners="true" data-role="button" data-icon="delete" data-mini="true" data-theme="a" data-inline="true" data-wrapperels="span">Remove</a>
				</fieldset>
			</li>

		</ul>

	</div><!-- block-action -->	
</script>

<!-- /page specific script -->	
<script type="text/javascript">
	
	var documentUrl = window.location.pathname;
	
	
	// modules and abilities
	modules = {};
	modules.module = new Array();
	{{#MODULE}}
	modules.module[{{M_ID}}] = new Array();
	modules.module[{{M_ID}}]['name'] = "{{M_NAME}}";
	modules.module[{{M_ID}}]['ability'] = new Array();
	{{#ABILITY}}
	modules.module[{{M_ID}}]['ability'][{{A_INDEX}}] = new Object();
	modules.module[{{M_ID}}]['ability'][{{A_INDEX}}].id = "{{A_ID}}";
	modules.module[{{M_ID}}]['ability'][{{A_INDEX}}].name = "{{A_NAME}}";
	modules.module[{{M_ID}}]['ability'][{{A_INDEX}}].description = "{{A_DESCRIPTION}}";
	{{/ABILITY}}
	{{/MODULE}}
	

	$(document).bind('pageinit', function(){
		templates.appendRuleBlock();
		templates.appendActionBlock();
		
		// cancel task button
		$('a[name=button-cancel-task]').on('click', function(event, ui) {
			location.reload(false);
		});

		$("a[name=button-save-dialog-close]").on('click', function() {
			$("#saveTaskDialog").popup( "close" );
		});
		// task accordion delete buttons
		templates.bindDeleteButton();
		templates.rebindSaveButton();		
	});

	// generic functions for Select manipulation
	insertIntoSelect = (function ($element, dataArray) {
		$element.find('option').remove().end();
		$.each(dataArray, function(key, value) { 
			$element.append('<option value="' + value.id + '">' + value.name + '</option>');
		});
		$element.selectmenu('refresh');		
	});
	

	// tasks namespace and its properties will be used for saving
	// user modifications.
	tasks = {};
	tasks.name = '';
	tasks.rules = new Object();
	tasks.actions = new Object();


	templates = {};
	templates.ruleIndex = 0;
	templates.actionIndex = 0;
	
	templates.getRule = (function () {
		return $('#data-block-rule').html();
	});
	templates.getAction = (function () {
		return $('#data-block-action').html();
	});
	
	// task delete button
	templates.bindDeleteButton = (function(){
		$('a[name=button-task-delete]').off('click');
		// Save task button
		$('a[name=button-task-delete]').on('click', function(event, ui) {
			// concat rules specified
			$.post(documentUrl, {'delete':$(this).attr('task_id')},
			function(data){
				// go back if successfull
				location.reload(false);
			});
		});
	});	
	
	templates.rebindSaveButton = (function(){
		$('a[name=button-save-task]').off('click');
//		// Save task button
		$('a[name=button-save-task]').on('click', function(event, ui) {
			
			// go through each rule and get parameters set
			$('div[name=block-rule]').each(function(index, block){
				
				// add a new rule to the container tree
				tasks.rules[index] = new Object();

//				// what type of rule?
//				if (typeof $('input[radiotype=schedule]:checked', $(block)).val() === "undefined")
//					tasks.rules[index].type = $('input[radiotype=ability]:checked', $(block)).val();
//				if (typeof $('input[radiotype=ability]:checked', $(block)).val() === "undefined")
//					tasks.rules[index].type = $('input[radiotype=schedule]:checked', $(block)).val();
				
				tasks.rules[index].operator = $('input[name*=radio-type-' + index + ']:checked', $(block)).val();
				tasks.rules[index].value = $("input[valuetype=rule]", $(block)).val();
				
				console.log('Index: ' + index);
				
//				alert($('input[radiotype=schedule]', $(block)).attr('checked'));
				console.log($('input[radiotype=schedule]', $(block)).attr('checked'));
				console.log($('input[radiotype=ability]', $(block)).attr('checked'));
				console.log('operator = ' + $('input[name*=radio-type-' + index + ']:checked', $(block)).val());
				console.log($("select[selecttype=module]:selected", $(block)).val());
				console.log($("input[valuetype=rule]", $(block)).val());

				$('select[selecttype=ability]:visible', $(block)).find('option').each(function() {
					var $t = $(this);

					if ($t.attr('selected') == 'selected'){ 
						// get the ability value
						var abl_id = $t.val();
						tasks.rules[index].ability = abl_id;

						console.log(abl_id);
					}
				});
			});
			
			tasks.name = $("input[name=task-name]").val();		
			// just in case if backend didn't catch no name
			if (tasks.name.length <= 0)
				tasks.name = 'Task';
			
			// concat rules specified
			console.log(tasks);
			var json = JSON.stringify(tasks);

			$.post(documentUrl, {'task':json},
			function(data){
				// refresh if successful so it will display on lhs
//				location.reload(false);
			});
		});
	});
		
	templates.appendRuleBlock = (function () {
		// add a new rule block
		$(templates.getRule()).appendTo("#container-rule").trigger('create');
		$("input[type=radio]", $('div[name=block-rule]:last')).each(function (i, radio){
			$(radio).attr('name', 'radio-operator-'+templates.ruleIndex);
			$(radio).attr('name', 'radio-type-'+templates.ruleIndex);
		});
		
		// populate ability select box (make this a function) with default module
		insertIntoSelect($("select[selecttype=ability]", $('div[name=block-rule]:last')), modules.module[0]['ability']);
		$('div[name=block-rule]:last').attr('index', templates.ruleIndex);

		// bind events to Observer/Schedule radios
		$("input[radiotype]", "div[name=block-rule]").on('click', function() {
			// need anything to be done?
			var $this = $(this);
			toggleGroups($this);

			// IMPORTANT! this unchecks all items in the checkbox group and checks the one clicked.
			$('input[radiotype]', $this.parents('div[name=block-rule]')).attr("checked", false).checkboxradio("refresh");
			$this.attr("checked", true).checkboxradio("refresh");
		});
		
		// bind events to Observer/Schedule radio buttons
		$("input[radiooperator]", "div[name=block-rule]").on('click', function() {
			// need anything to be done?
			var $this = $(this);
			
			// IMPORTANT! this unchecks all items in the checkbox group and checks the one clicked.
			$('input[radiooperator]', $this.parents('div[name=block-rule]')).attr("checked", false).checkboxradio("refresh");
			$this.attr("checked", true).checkboxradio("refresh");
		});
		
		$("select[selecttype=module]", "div[name=block-rule]").on('change', function() {
			// need anything to be done?
			var $this = $(this);
			// populate ability select box (make this a function)
			insertIntoSelect($("select[selecttype=ability]", $this.parents('div[name=block-rule]')), modules.module[$this.val()]['ability']);
		}); 

		// Add new rule blocks
		$("a[name=button-new-rule]:last").on('click', function(event, ui) {
			templates.appendRuleBlock();
		});
		
		// delete rule blocks
		$("a[name=button-del-rule]:last").on('click', function(event, ui) {
			templates.removeRuleBlock($(this).parents('div[name=block-rule]'));			
		});
		
		// Add datetime picker event
		$('input[name=timepicker]').scroller({
			preset: 'time',
			timeFormat: 'HH:ii',
			theme: 'jqm',
			display: 'modal',
			mode: 'clickpick',
			onClose: function(valueText, inst) {
			}
		});
		
		templates.ruleIndex++;
		// show the default item
		showScheduleGroup(null);
	});

	templates.appendActionBlock = (function () {
		// add a new rule block
		$(templates.getAction()).appendTo("#container-action").trigger('create');
		$('div[name=block-action]:last').attr('index', templates.actionIndex);
		
		// bind events
		$("input[name=radio-type]").on('click', function() {
			// need anything to be done?
			var $this = $(this);
			toggleGroups($this);
			
			$("ul").listview('refresh');			
		});    
		
		// populate ability select box (make this a function) with default module
		insertIntoSelect($("select[selecttype=ability]", $('div[name=block-rule]:last')), modules.module[0]['ability']);		
		
		// bind events to Observer/Schedule radios
		$("input[radiotype]", "div[name=block-action]").on('click', function() {
			// need anything to be done?
			var $this = $(this);
			toggleGroups($this);
		});
		
		$("select[selecttype=module]", "div[name=block-action]").on('change', function() {
			// need anything to be done?
			var $this = $(this);
			// populate ability select box (make this a function)
			insertIntoSelect($("select[selecttype=ability]", $this.parents('div[name=block-action]')), modules.module[$this.val()]['ability']);			
		});	
		
		// Add new rule blocks
		$("a[name=button-new-action]:last").on('click', function(event, ui) {
			templates.appendActionBlock();
		});
		
		// delete rule blocks
		$("a[name=button-del-action]:last").on('click', function(event, ui) {
			templates.removeActionBlock($(this).parents('div[name=block-action]'));			
		});
		
		templates.actionIndex++;
		// show the default item
		showTweetGroup(null);
	});

	templates.removeRuleBlock = (function ($parent) {
		$parent.remove();		
		templates.ruleIndex--;		
	});

	templates.removeActionBlock = (function ($parent) {
		$parent.remove();				
		templates.actionIndex--;
	});

	toggleGroups = (function ($radio) {
		if ($radio.attr('radiotype') == 'schedule')
		{
			showScheduleGroup($radio.parents('li'));
		}
		else if ( ($radio.attr('radiotype') == 'ability') && ($radio.parents('div[name=block-rule]').length > 0) )
		{
			// radio button on rules section
			showObserveGroup($radio.parents('li'));
		}
		else if ($radio.attr('radiotype') == 'tweet')
		{
			showTweetGroup($radio.parents('li'));
		}
		else if ($radio.attr('radiotype') == 'sms')
		{
			showSmsGroup($radio.parents('li'));
		}
		else if ($radio.attr('radiotype') == 'email')
		{
			showEmailGroup($radio.parents('li'));
		}
		else if ( ($radio.attr('radiotype') == 'ability') && ($radio.parents('div[name=block-action]').length > 0) )
		{
			// radio button on action section
			showDeviceGroup($radio.parents('li'));
		}
	});
	
	showTweetGroup = (function ($li){
		if ($li == null)
		{
			$('[name=group-tweet]:last').show();
			$('[name=group-sms]:last').hide();	
			$('[name=group-email]:last').hide();	
			$('[name=group-ability]:last').hide();	
			return;
		}
		
		$li.nextAll('[name=group-tweet]').show();
		$li.nextAll('[name=group-sms]').hide();	
		$li.nextAll('[name=group-email]').hide();	
		$li.nextAll('[name=group-ability]').hide();	
	});
	
	
	showSmsGroup = (function ($li){
		if ($li == null)
		{
			$('[name=group-tweet]:last').hide();
			$('[name=group-sms]:last').show();	
			$('[name=group-email]:last').hide();	
			$('[name=group-ability]:last').hide();	
			return;
		}
		
		$li.nextAll('[name=group-tweet]').hide();
		$li.nextAll('[name=group-sms]').show();	
		$li.nextAll('[name=group-email]').hide();	
		$li.nextAll('[name=group-ability]').hide();	
	});
	
	
	showEmailGroup = (function ($li){
		if ($li == null)
		{
			$('[name=group-tweet]:last').hide();
			$('[name=group-sms]:last').hide();	
			$('[name=group-email]:last').show();	
			$('[name=group-ability]:last').hide();	
			return;
		}
		
		$li.nextAll('[name=group-tweet]').hide();
		$li.nextAll('[name=group-sms]').hide();	
		$li.nextAll('[name=group-email]').show();	
		$li.nextAll('[name=group-ability]').hide();	
	});
	
	
	showDeviceGroup = (function ($li){
		if ($li == null)
		{
			$('[name=group-tweet]:last').hide();
			$('[name=group-sms]:last').hide();	
			$('[name=group-email]:last').hide();	
			$('[name=group-ability]:last').show();	
			return;
		}
		
		$li.nextAll('[name=group-tweet]').hide();
		$li.nextAll('[name=group-sms]').hide();	
		$li.nextAll('[name=group-email]').hide();	
		$li.nextAll('[name=group-ability]').show();	
	});
	
	
	showScheduleGroup = (function ($li){
		if ($li == null)
		{
			$('[name=group-observe]:last').hide();
			$('[name=group-schedule]:last').show();	
			return;
		}
		
		$li.nextAll('[name=group-observe]').hide();
		$li.nextAll('[name=group-schedule]').show();
	});
	
	showObserveGroup = (function ($li){
		if ($li == null)
		{
			$('[name=group-observe]:last').show();
			$('[name=group-schedule]:last').hide();	
			return;
		}
		
		$li.nextAll('[name=group-observe]').show();
		$li.nextAll('[name=group-schedule]').hide();
	});

</script>	

</body>
</html>

