<!DOCTYPE html> 
<html> 
	<head> 
	<title>{{NAME}}</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<link rel="stylesheet" href="js/jquery.mobile-1.2.0/jquery.mobile-1.2.0.min.css" />
	<link rel="stylesheet" type="text/css" href="js/jquery.mobile-1.2.0/_assets/css/jqm-docs.css"/>	
	<link rel="stylesheet" type="text/css" href="css/safehouse.css" media="all"/>	
	<link rel="stylesheet" type="text/css" href="js/jqplot/jquery.jqplot.min.css" />	
	
	<script src="js/jquery-1.8.2.min.js"></script>
	<script src="js/jquery.mobile-1.2.0/jquery.mobile-1.2.0.min.js"></script>
	<script type="text/javascript" src="js/jquery.mobile-1.2.0/_assets/js/jqm-docs.js"></script>	
</head>

<body>

	<!-- Start of Module View: #viewModule -->
	<div data-role="page" class="type-home" id="viewModule">

		<div data-role="header">
			<a href="/" data-transition="none" data-icon="arrow-l">Back</a>
			<h1>{{NAME}}</h1>
			<input type="hidden" id="module-id" value="{{ID}}" />
		</div><!-- /header -->
		
		
		<div data-role="content">

			<div name="pageHome" class="content-primary">	
				<!--
				There is some kind of a bug in the my code or jquery mobile css. 
				If I remove <ul> tag from the following block the slider css deforms.
				-->
				<div class="ui-grid-a">
				{{#ABILITY}}
					<div class="ui-block-a width-label">
							<h3 name="ability-name">{{NAME}}</h3>
							<p name="ability-description">{{DESCRIPTION}}</p>																							
					</div>
					<div id="{{ID}}" style="padding-top: 35px" class="ui-block-b width-component">
						<ul data-role="listview">
						{{HTML}}
						</ul>
					</div>			
				{{/ABILITY}}
				</div>						
			</div>
		
			
			<div name="pageHome" class="content-secondary">
				<h2>History</h2>
				{{#ABILITY_HISTORY}}
				<div data-role="collapsible" name="history_dropdown" data-content-theme="c">
					<h3>{{NAME}}</h3>
					<div id="graph_{{name}}" style="height:300px;"></div>
				</div>
				{{/ABILITY_HISTORY}}	
			</div>
		</div>


		<div data-role="footer">
			<h4> (C) 2012 Safehouse Project</h4>
		</div><!-- /footer -->		

	</div><!-- /page viewModule -->	
	
	
	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="js/jqplot/excanvas.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="js/jqplot/jquery.jqplot.min.js"></script>
	<script type="text/javascript" src="js/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
	<script type="text/javascript" src="js/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript" src="js/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
	<script type="text/javascript" src="js/jqplot/plugins/jqplot.pointLabels.min.js"></script>
	<!-- /page specific script -->	
	<script type="text/javascript">
	$(document).ready(function(){

		graphs = {};
		// we have an empty data array here, but use the "dataRenderer"
		// option to tell the plot to get data from our renderer.
		{{#ABILITY_HISTORY}}
		graphs.{{name}} = (function (){		
			var isDiscrete = {{DISCRETE_DATA}};
			var seriesOptions = {};
			var seriesDefaultOptions = {showMarker:false, shadow: false, smooth: true};
			var yaxisOptions = {};
			// special options when discrete data is plotted
			if (isDiscrete)
			{
				seriesOptions = {breakOnNull:true};
				seriesDefaultOptions = {showMarker:false, pointLabels:{show:true}};
				yaxisOptions = {showTicks:false, max:1.3};
			}
			
			var plot_{{name}} = $.jqplot('graph_{{name}}',[{{HISTORY}}],{
			axes:{
				xaxis:{
					renderer:$.jqplot.DateAxisRenderer, 
					rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
					tickOptions:{formatString:'%H:%M'},
					min: new Date('{{MIN_DATE}}'), 
					tickInterval:'{{INTERVAL}}'
				},
				yaxis:yaxisOptions
			},
			series: [seriesOptions],
			seriesDefaults: seriesDefaultOptions
			});
		});			
		{{/ABILITY_HISTORY}}

		$('div[name=history_dropdown]').bind('expand', function () {
			{{#ABILITY_HISTORY}}
			if (!$("#graph_{{name}}").html().length)
			{
				// Draw only if the graph is not previously used
				graphs.{{name}}();
				$("#graph_{{name}}").addClass("width-100p");
			}
			{{/ABILITY_HISTORY}}
		}).bind('collapse', function () {

		});

		var pathname = window.location.pathname;
		var module_id = $("#module-id").val();
				
		$("#ability-control").change(function(){
			var ability_id = $(this).parents('div').attr('id');
			var value = $(this)[0].selectedIndex == 1 ? 1:0;	
			
			$.post(pathname, {'id': module_id, 'a_index': ability_id, 'value': value},
			function(data){
				// go back if successfull
			});			
		});

	});
	</script>		
	
</body>
</html>
