/* jqm docs css

Beware: lots of last-minute CSS going on in here 
cobblers, shoes, 
*/

body { background: #dddddd; }
.ui-mobile .type-home .ui-content { margin: 0; background: #e5e5e5 url(../images/jqm-sitebg.png) top center repeat-x; }

.type-interior .content-secondary {
	background: #fff;
	border-top: 1px solid #ccc;
}

/* new API additions */

/* docs site layout */
/*.content-primary {
	padding-top: 20px;	
}*/

@media all and (min-width: 900px){
	.type-home .ui-content,
	.type-interior .ui-content {
		background: url(../images/px-ccc.gif) 50% 0 repeat-y;
	}
	.type-interior .ui-content {
		overflow: hidden;
	}
	.content-secondary {
		padding: 20px 1% 20px 0px;		
		text-align: left;
		width: 48%;
		float: right;
	}
	.content-primary {
		padding: 20px 0% 20px 1%;		
		width: 48%;
		float: left;
	}
}